# R
.Rhistory
.RData
.Rproj.user/
*.Rproj
.Ruserdata
.Rapp.history

# Quarto
/.quarto/
/_site/
*.html

# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~
.idea/

# Misc
.vscode/
*.log

#exam folders
exam/